@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

body {
  background-image: url('./assets/pokemon.webp');
  background-size: 100%;
  margin: 0;
}

header {
  position: sticky;
  background-color: #fff;
  top: 0;
}

nav {
  font-family: 'Pokemon Solid', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
}

.nav-menu-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.nav-menu-ul a {
  text-decoration: none;
  color: #ed1b24;
  letter-spacing: 2px;
}

.logo {
  height: 50px;
  width: 50px;
}

main {
  padding: 5%;
}

.buttons {
  display: flex;
  padding: 5% 0;
  justify-content: center;
  gap: 5%;
}

.buttons button {
  min-width: 60%;
  height: 5vh;
  border-radius: 5px;
}

footer {
  padding: 5%;
}

.grass {
  background-color: #6a6;
}

span {
  border: 1px solid #000;
  border-radius: 0.5em;
  padding: 2px 4px;
}

.card {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 2vh 7vh;
  border-radius: 1em;
  border: 1px solid #eee;
  background-color: #eee;
}

.card * {
  margin: 0;
  padding: 0;
}

.card-img {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.poke-image {
  width: 90%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

#pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.cardModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}

.cardModal img {
  height: 15rem;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid wheat;
  height: 10rem;
  overflow-y: scroll;
  margin-top: 2rem;
  width: 90%;
  box-shadow: 8px 10px 10px 1px rgba(0, 0, 0, 0.5);
}

.comments::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 10px;
  border: 2px solid #f1f2f3;
  width: 4rem;
}

.comments::-webkit-scrollbar:vertical {
  width: 4rem;
}

.ul-form {
  display: flex;
  flex-direction: column;
  width: 10vh;
  gap: 20px;
  justify-content: space-between;
}

.ul-form input {
  border: solid black;
  width: fit-content;
}

.commentBtn {
  border: solid black;
  color: white;
  background-color: red;
  height: 2rem;
  width: max-content;
  font-size: 1rem;
  box-sizing: border-box;
  box-shadow: 8px 10px 10px 1px rgba(0, 0, 0, 0.5);
}

#grafica {
  width: 50rem;
  padding: 0;
  margin-top: 2rem;
}

.cardTotal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.modal {
  display: flex;
  justify-content: space-around;
  border: solid wheat 3px;
  box-shadow: 8px 10px 10px 1px rgb(0 0 0 / 50%);
  margin: 0 auto;
  margin-top: 1%;
  height: 90vh;
  width: 80vw;
  margin-left: 7%;
  background-color: #fff;
  position: fixed;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #000d;
}

.close {
  background: none;
  border-style: none;
  align-self: flex-start;
  margin-top: 1rem;
  margin-right: 1rem;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like-btn {
  border-style: none;
  background: none;
}
