@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

body {
  background-image: url('./assets/pokemon.webp');
  background-size: cover;
}

header {
  position: sticky;
  background-color: #fff;
  top: 0;
}

nav {
  font-family: 'Pokemon Solid', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
}

.nav-menu-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.nav-menu-ul a {
  text-decoration: none;
  color: #ed1b24;
  letter-spacing: 2px;
}

.logo {
  height: 50px;
  width: 50px;
}

main {
  padding: 5%;
}

.buttons {
  display: flex;
  padding: 5% 0;
  justify-content: center;
  gap: 5%;
}

.buttons button {
  min-width: 60%;
  height: 5vh;
  border-radius: 5px;
}

footer {
  padding: 5%;
}
